<%- include('partials/header.ejs') %>

<style>
  /* #output {
  padding: 20px;
  background: #dadada;
} */

  form {
    margin-top: 20px;
  }

  select {
    width: 300px;
  }

  #display-image {
    width: 191px;
    height: 125px !important;
    margin-top: 32px;
    background-position: center;
    background-size: cover;
  }
</style>

<div class="main-content">
  <section class="section">
    <div class="section-body">
      <div class="card">
        <div class="card-headers row">
          <div class="col-12 col-lg-6">
            <div class="university-card-header">
              <h4>University</h4>
            </div>
          </div>
          <div class="col-12 col-lg-6">
            <div class="university-card-header1">
              <form action="">
                <!-- <div class="form-group" style="margin: 0px">
                  <select
                    class="form-select"
                    aria-label="Default select example"
                  >
                    <option selected="">Add Filter</option>
                    <option value="1">Add Filter</option>
                    <option value="2">Add Filter</option>
                    <option value="3">Add Filter</option>
                  </select>
                </div> -->
              </form>
              <div class="create-btn">
                <a href="/admin/university/add" class="add-btn-circle">
                  <i
                    class="fa fa-plus"
                    style="margin-right: 0px; margin-top: 0px"
                  ></i>
                </a>
                <span> Create New</span>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row mt-5">
            <% if(!university[0]) { %>
            <div class="col-12 text-center">
              <h2>No university</h2>
            </div>
            <% } else {%> <% university.forEach(function(university){ %>
            <div class="col-md-4 mb-4">
              <article
                class="article"
                style="border-radius: 10px; overflow: hidden"
              >
                <div class="article-header">
                  <div
                    class="article-image"
                    data-background="/uploads/university/<%= university.image %>"
                    style="
                      background-image: url(/uploads/university/<%= university.image %>);
                    "
                    alt="<%= university.image %>"
                    data-bs-toggle="modal"
                    data-bs-target="#video-details"
                  ></div>
                </div>
                <div class="article-details">
                  <p><%= university.name %></p>
                  <div style="padding-bottom: 15px">
                    <i
                      style="margin-top: 0px !important"
                      class="btn btn-info btn-md fas fa-edit"
                      id="edit_btn"
                      data-toggle="modal"
                      data-model="<%= JSON.stringify(university) %>"
                    ></i>
                    <i
                      style="margin-top: 0px !important"
                      class="btn btn-danger btn-md fas fa-trash-alt"
                      onclick="deletecourse('<%- university._id %>')"
                    >
                    </i>
                  </div>
                </div>
              </article>
            </div>
            <% }); %> <% } %>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Edit course modal  -->
  <div class="modal fade" id="edit">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4>Edit University</h4>
          <button type="button" class="btn-close" data-dismiss="modal"></button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <div class="row">
            <form id="editform">
              <input type="hidden" id="editid" name="editid" />
              <div class="col-12">
                <div class="row">
                  <div class="form-group add-university-form w-80">
                    <label>Name</label>
                    <input
                      type="text"
                      class="form-control"
                      id="edit_name"
                      name="edit_name"
                      placeholder="Enter the Name of a University"
                    />
                  </div>

                  <div id="output"></div>
                  <h6>Course</h6>
                  <div class="form-group add-university-form">
                    <select
                      data-placeholder="Choose course..."
                      name="edit_course_id"
                      multiple
                      class="chosen-select"
                      id="edit_course_id"
                    >
                      <option value="" disabled selected>Select Course</option>

                      <% course_id.forEach(function(course_id){%>
                      <option value="<%= course_id._id %>">
                        <%= course_id.course_name %>
                      </option>
                      <% }); %>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-md-3"></div>
              <div class="row mt-5">
                <div class="col-12">
                  <button class="btn btn-primary">Update</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

      <!-- Modal footer -->
    </div>
  </div>
</div>

<%- include('partials/footer.ejs') %>

<script>
  document.getElementById("output").innerHTML = location.search;
  $(".chosen-select").chosen();
</script>

<script>
  $(document).on("click", "#edit_btn", function (e) {
    let getData = $(e.target).attr("data-model");
    let finalData = JSON.parse(getData);
    $("#edit").modal("show");
    var data = finalData;
    $("#editid").val(data._id);
    $("#edit_name").val(data.name);
    $("#edit_course_id").val(data.course_id._id);
  });

  var editform = $("#editform");
  editform.on("submit", editSubmitHandler);

  function editSubmitHandler(e) {
    e.preventDefault();

    var formData = getFormData(editform);
    console.log(formData);

    // DO POST
    $.ajax({
      type: "POST",
      contentType: "application/json",
      url: "/admin/university/edit",
      data: JSON.stringify(formData),
    })
      .done((res) => {
        if (res.error == true) {
          renderToast({ message: res.message, icon: "error" });
        } else {
          renderToast({ message: res.message, icon: "success" });
          setTimeout(() => {
            window.location.reload();
          }, 1000);
        }
      })
      .fail(function (xhr, status, error) {
        console.log(xhr.responseText);
      });
  }
</script>
<script>
  function deletecourse(id) {
    if (confirm("Do you really want to delete this record")) {
      // DO POST
      $.ajax({
        type: "POST",
        contentType: "application/json",
        url: "/admin/university/delete",
        data: JSON.stringify({
          id: id,
        }),
      })
        .done((res) => {
          if (res.error == true) {
            renderToast({ message: res.message, icon: "error" });
          } else {
            renderToast({ message: res.message, icon: "success" });
            setTimeout(() => {
              window.location.reload();
            }, 1000);
          }
        })
        .fail(function (xhr, status, error) {
          console.log(xhr.responseText);
        });
    }
  }
</script>
