<%- include('partials/header.ejs') %>

<!-- Main content start -->
<div class="main-content">
  <section class="section">
    <div class="section-body">
      <div class="card">
        <div class="card-headers row">
          <div class="col-12">
            <div class="university-card-header">
              <h4>Student (User)</h4>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="st-profile-box">
              <div class="st-profile-1">
                <div
                  class="st-img-box"
                  style="
                    background-image: url(/uploads/users/<%= user.image %>);
                  "
                ></div>
                <div class="st-text-box">
                  <span>Name: <%= user.name %></span>
                  <span>Email: <%= user.email %></span>
                </div>
              </div>

              <div class="st-search-box" style="font-size: 10px">
                <input
                  type="text"
                  id="mySearch"
                  placeholder="Search"
                  onkeyup="myFunction()"
                />
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-md-4">
          <div class="card">
            <div class="card-body">
              <div class="st-card-div">
                <div
                  class="st-card-pro"
                  style="
                    background-image: url(/uploads/users/<%= user.image %>);
                  "
                >
                  <div class="st-card-address"></div>
                </div>

                <div class="st-card-text">
                  <h6><%= user.name %></h6>
                  <h6><%= user.email %></h6>

                  <% for( let i = 0; i < user.course.length; i++ ) { %>
                    <span
                  style="
                    background-color: blue;
                    color: white;
                    padding: 3px;
                    border-radius: 5px;
                    margin-bottom: 5px;

                  "
                >
                  <%= user.course ? user.course[i].course_name : ''%></span
                >   
                  <% } %>


                  <p style="margin-top: 5px"><%= user.mobile_number %></p>
                </div>
              </div>
              <div class="st-card-det">
                <h6><b><%= user.year %> Year</b></h6>
                <span
                  >College : <%= user.college_name ? user.college_name.name :
                  ''%> </span
                ><br />

                <h6 class="mt-3"><b>Email: <%= user.email %></b></h6>
              </div>
            </div>
          </div>
          <% order.forEach(i => { %>

          <div class="card">
            <div class="card-body">
              <div class="card-head">
                <h6>Payment History</h6>
                <div class="payment-history">
                  <small>Next Payment</small><br />
                  <small style="color: #0fa2c3"><b></b></small>
                </div>
              </div>
              <div class="">
                <!-- <button class="btn btn-primary mt-2 mb-3">Live Payment</button> -->
                <div class="d-flex justify-content-between">
                  <div>
                    <p><%- i.user_id ? i.user_id.name: "" %></p>
                    <!-- <span style="font-size: 10px">Tuition ID:   </span -->
                    ><br />
                    <span style="font-size: 10px"
                      ><%= convertTimeStampToDate(i.created_at) %></span
                    >
                  </div>
                  <p style="font-size: 12px; font-weight: 600">
                    <%= i.subscription_id ? i.subscription_id.month : "" %>
                    Month
                  </p>
                  <p style="font-size: 12px; font-weight: 600; color: #0fa2c3">
                    <%= i.amount %>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <% }) %>
        </div>

        <div class="col-12 col-md-4">
          <div class="card">
            <div class="card-header">
              <h4>Courses</h4>
            </div>
            <div class="card-body">
              <% for( let i = 0; i < user.course.length; i++ ) { %>
              <article
                class="article"
                style="border-radius: 10px; overflow: hidden"
              >
               
                  <div class="article-header">
                    <div class="article-image"
                    data-background="/uploads/course/<%= user.course ?
                    user.course[i].image: "" %>" style=" background-image:
                    url(/uploads/course/<%= user.course ? user.course[i].image: ""
                    %>); " >
                  </div>
                
                <div
                  style="
                    background-color: #fff;
                    padding: 5px;
                    padding-left: 16px;
                    line-height: 7px;
                    position: relative;
                    bottom: 30px;
                  "
                >
                  <h6><%= user.course ? user.course[i].course_name: "" %></h6>
                </div>

              </article>
              <% } %>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="card">
            <div class="card-header title-card">
              <h4>Subjects</h4>
            </div>
            <div class="card-body">
              <% if(!subject[0]) { %>
              <div class="col-12 text-center">
                <h2>No subject</h2>
              </div>
              <% } else {%> <% subject.forEach(function(subject){ %>
              <div class="search-book-section mt-4">
                <div class="book-img-box" style="width: 124px">
                  <img
                    src="/uploads/subject/<%= subject.image %>"
                    class="book-img img-fluid"
                    alt=""
                  />
                  <span><b><%= subject.title %></b> </span>
                </div>
              </div>
              <% }) %> <% } %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<!-- Main Content -->

<%
function convertTimeStampToDate(date){
   date = Number(date)
      var d = new Date(date),
         month = '' + (d.getMonth() + 1),
         day = '' + d.getDate(),
         year = d.getFullYear();

   if (month.length < 2)
   month = '0' + month;
   if (day.length < 2)
   day = '0' + day;
   var date = new Date();
   date.toLocaleDateString();

   return [day, month, year].join('-');
}
%>

<%- include ('partials/footer.ejs') %> 